.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.container h1 {
    font-size: 2em;
}

.container p {
    margin-top: .5em;
    max-width: 500px;
    line-height: 1.4rem;
    text-align: center;
    word-break: break-all;
}